.shop-look {
  border-bottom: 0.5px solid #ccc;
}
.swiper-container.look-slide__container {
  width: 100%;
  padding: unset;
  margin-left: 10px;
}

.swiper-slide.look-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 85%;
  width: 100%;
  .shop-look__infimg {
    position: relative;
    height: 100%;
    width: 100%;
    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      cursor: pointer;
    }
    .info-img__detail {
      opacity: 0;
    }
    &:hover {
      .info-img__detail {
        opacity: 1;
      }
    }
  }
  .shop-look__name {
    margin-bottom: unset;
  }
  .shop-look__price {
    font-size: 16px;
  }
  .shop-look__btn {
    @include button($primary-color);
  }
  & > *:not(:last-child) {
    display: none;
  }
}

.swiper-pagination.look-pagination {
  bottom: 40px;
  display: none;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid #000;
  }
  .swiper-pagination-bullet-active {
    background-color: #000;
  }
}

.shop-look__image {
  position: relative;
  &--dot {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;

    position: absolute;

    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      width: 40px;
      height: 40px;
      border-radius: 50px;

      background-color: rgba(255, 255, 255, 0.4);
      left: -12px;
      bottom: -10px;
    }
  }
  &--dot.dot-1 {
    left: 150px;
    bottom: 200px;
  }
  &--dot.dot-2 {
    left: 300px;
    bottom: 200px;
  }
  &--dot.dot-3 {
    left: 350px;
    bottom: 400px;
  }
}
