header {
  width: 100%;
  height: 100vh;

  .container-fluid {
    height: 100%;
    padding: 0;

    position: relative;
  }
}

.annoucement__wrapper {
  height: 40px;

  background-color: $primary-color;
  .announcement__content {
    font-size: 13px;
    margin: 0;
  }
}

.navbar {
  position: absolute;
  top: 40px;
  z-index: 9999;

  width: 100%;

  border-bottom: 0.5px solid #fff;

  * {
    color: #fff;
  }

  transition: background-color 650ms;
  &:hover {
    background-color: $light-background;
    * {
      color: $navigation-text-color;
    }
    .logo {
      .logo-black {
        display: initial;
      }
      .logo-white {
        display: none;
      }
    }
  }
}

.navbar-top {
  .hamburger-menu {
    button[type="menu"] {
      background: transparent;
      border: none;
      display: none;
    }
  }
  .item-menu {
    padding-right: 0;
    .item-menu__text {
      display: none;
      margin-right: 20px;
    }
  }
  .logo {
    .logo-black {
      display: none;
    }
    .logo-white {
      display: initial;
    }
  }
}

.navbar-bottom {
  .nav-list__inner {
    list-style: none;
    height: 100vh;
    width: 300px;
    background-color: #fff;

    position: fixed;
    top: 0;
    left: -300px;

    transition: all 650ms;
    * {
      color: #000;
    }
    &--item {
      border-bottom: 0.5px solid #ccc;
      padding: 10px 0;
    }
  }
  .nav-list__inner.is-expand {
    left: 0;
  }
}

.nav-list__inner--item {
  margin: 20px 0;
  .nav-list__inner--item--name {
    display: inline;
  }
  .btn-nav--item__inner {
    float: right;
    .btn-nav--item__close {
      display: none;
    }
    .btn-nav--item__open {
      display: initial;
    }
  }
  .nav-list__item-expand {
    .expand-list {
      list-style: none;
      max-height: 0;
      overflow: hidden;
      transition: all 650ms;

      &__item {
        text-transform: uppercase;
      }
    }
    .expand-menu {
      display: none;
    }
  }
}

.nav-list__inner--item.is-expand {
  .btn-nav--item__inner {
    .btn-nav--item__close {
      display: initial;
    }
    .btn-nav--item__open {
      display: none;
    }
  }
  .nav-list__item-expand {
    padding: 10px;
    .expand-list {
      max-height: initial;

      &__item {
        opacity: 0.6;
        margin: 20px 0;
      }
    }
  }
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  * {
    color: #000;
  }

  border-bottom: 0.5px solid #ccc;
  .logo {
    .logo-black {
      display: initial;
    }
    .logo-white {
      display: none;
    }
  }
}
