$font-family: "Abel", sans-serif;
$heading-font-weight: 300;
$primary-color: #fce7a8;
$heading-font-style: normal;
$text-font-weight: 400;
$text-font-style: normal;
$base-text-font-size: 14px;
$default-text-font-size: 14px;
$background: #ffffff;
$background-rgb: 255, 255, 255;
$light-background: #ffffff;
$light-background-rgb: 255, 255, 255;
$heading-color: #303030;
$text-color: #303030;
$text-color-rgb: 48, 48, 48;
$text-color-light: #595959;
$text-color-light-rgb: 89, 89, 89;
$link-color: #000000;
$link-color-rgb: 0, 0, 0;
$border-color: #e0e0e0;
$border-color-rgb: 224, 224, 224;
$button-background: #f5db8b;
$button-background-rgb: 245, 219, 139;
$button-text-color: #303030;
$header-background: #ffffff;
$header-heading-color: #303030;
$header-light-text-color: #595959;
$header-border-color: #e0e0e0;
$footer-background: #ffffff;
$footer-text-color: #595959;
$footer-heading-color: #303030;
$footer-border-color: #e6e6e6;
$navigation-background: #ffffff;
$navigation-background-rgb: 255, 255, 255;
$navigation-text-color: #303030;
$navigation-text-color-light: rgba(48, 48, 48, 0.5);
$navigation-border-color: rgba(48, 48, 48, 0.25);
$newsletter-popup-background: #ffffff;
$newsletter-popup-text-color: #303030;
$newsletter-popup-text-color-rgb: 48, 48, 48;
$secondary-elements-background: #fce7a8;
$secondary-elements-background-rgb: 48, 48, 48;
$secondary-elements-text-color: #303030;
$secondary-elements-text-color-light: rgba(48, 48, 48, 0.5);
$secondary-elements-border-color: rgba(48, 48, 48, 0.25);
$product-sale-price-color: #f94c43;
$product-sale-price-color-rgb: 249, 76, 67;
$horizontal-spacing-four-products-per-row: 60px;
$horizontal-spacing-two-products-per-row: 60px;
$vertical-spacing-four-products-per-row: 60px;
